@import url("var.css");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#lines-container {
  margin-top: 20px;
}

#word-display {
  font-size: 32px;
  font-weight: bold;
  margin: 20px 0;
  color: var(--beige);
  text-align: center;
}

#guess {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  border: 2px solid var(--green);
  border-radius: 5px;
  margin-top: 10px;
}

#guess:focus {
  outline: none;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #aa4135;
}

button:active {
  transform: scale(0.98);
}

#feedback {
  font-size: 18px;
  margin-top: 15px;
}
