:root {
  --black: #19232a;
  --beige: #e3d5be;
  --orange: #f06859;
  --green: #7d8b79;

  --h1: 7.594rem;
  --h2: 3rem;
  --h3: 2.5rem;
  --h4: 2rem;
  --p: 1rem;
}

.main {
  --primary: var(--black);
  --text-color: var(--beige);
  --secondary: var(--orange);
  --accent-color: var(--green);
}

body {
  background-color: var(--primary);
}

#feedback {
  color: var(--text-color);
}

button {
  background-color: var(--secondary);
  color: var(--black);
}

#guess:focus {
  border-color: var(--secondary);
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
  color: var(--text-color);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

p {
  font-size: var(--p);
}
